job: script

  include:livescript(bare=true) Wsh.ls
  include:livescript(bare=true) NativeString.ls
  include:livescript(bare=true) NativeArray.ls
  include:livescript(bare=true) NativeFunction.ls
  include:livescript(bare=true) FileSystem.ls
  include:livescript(bare=true) TextFile.ls
  include:livescript(bare=true) ObjectFile.ls
  include:livescript(bare=true) Shell.ls

  include:livescript(bare=true) WlsC.ls

  :livescript(bare=true)

    { argc, arg, fail, script-name } = Wsh
    { parse-filepath } = FileSystem

    if argc is 0 => fail do

      * "Usage:"
        "#{ parse-filepath script-name .name } wls-filename."

    #

    { stdout } = Wsh
    { build-wsf-script } = WlsC

    wls-filename = arg 0

    wsf-script-lines = build-wsf-script wls-filename

    for line in wsf-script-lines => stdout '\n', line